<div class="timer">
  <div class="title">
    <input ng-model="timerData.name" type="text" placeholder="Title">
  </div>
  <div class="current-time">
    <input ng-model="hours" ng-change="timerData.status='off'" placeholder="0" class="hours">
    <span>:</span>
    <input ng-model="minutes" ng-change="timerData.status='off'" placeholder="00" class="minutes">
    <span>:</span>
    <input ng-model="seconds" ng-change="timerData.status='off'" placeholder="00" class="seconds">
  </div>
  <div class="controls">
    <div class="control" ng-class="{'play': timerData.status==='off', 'pause': timerData.status==='on'}" ng-click="togglePlayPause()"></div>
    <div class="control reset" ng-click="resetTimer()"></div>
    <div class="control" ng-class="{'up': timerData.type==='up', 'down': timerData.type==='down'}" ng-click="toggleType()"></div>
  </div>
  <div class="switch"></div>
  <div class="description">
    <textarea ng-model="timerData.description" rows="8" placeholder="Description"></textarea>
  </div>
</div>
