<!DOCTYPE html>
<html ng-app="rmTimer" ng-controller="AppCtrl">
<head>
  <title>Team Timer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- compiled CSS -->
  <link rel="stylesheet" type="text/css" href="<%= config.assetRoot %>lk-scaffold-0.2.0.css" />

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= config.staticRoot %><%= file %>"></script><% }); %>

  <script>
  var TimerConfig = {
    'urlRoot': '<%= config.urlRoot %>',
    'assetRoot': '<%= config.assetRoot %>'
  };
  </script>

</head>
<body>
  <navbar></navbar>
  <div ui-view="main"></div>
</body>
</html>
