@import (less) "normalize.css";
@import (less) "variables.less";

/* Global styles */
.center {
  text-align: center;
}
.center-div {
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right;
}
.small-banner {
  height: 50px;
  border-bottom: 1px solid @lightGray;
  margin-bottom: 25px;
  padding-top: 15px;
}
.large-banner {
  min-height: 225px;
  border-bottom: 1px solid @lightGray;
  margin-bottom: 25px;
}

/* Navbar */
nav {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: @lightGray;
  text-align: center;
  a {
    height: 25px;
    width: 25px;
    margin: 13px 15px;
  }
  .nav-item {
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
  }
  .nav-item.active {
    background-image: url('../assets/img/timer.png');
    background-size: cover;
  }
  .nav-control {
    display: inline-block;
    background-size: cover;
  }
  .left-nav {
    background-image: url('../assets/img/nav_arrow_left.png');
  }
  .right-nav {
    background-image: url('../assets/img/nav_arrow_right.png');
  }
}

/* Layout container */
.container {
  min-height: 300px;
  max-width: 966px;
  margin: 65px auto 0px auto;
}

/* buttons */
.btn {
  padding: 14px 26px;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.btn-small {

}
.btn:active {
  padding-top: 15px;
}
.btn, .btn:hover, .btn:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}
.btn-success {
  background-color: @green;
  box-shadow: 0px 3px 0px 0px @darkGreen;
}
.btn-success:hover {
  background-color: @lightGreen;
}
.btn-success:active {
  box-shadow: 0px 1px 0px 0px @darkGreen;
}

.timer {
  display: inline-block;
  margin: 10px;
  width: 300px;
  min-height: 300px;
  border: 1px solid @lightGray;
  border-radius: 2px;
  -moz-box-shadow:    0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow:         0 0 10px #000000;
  .title {
    input {
      text-align: center;
      border: none;
      padding: 0px;
      margin: 0px 3px 0px 3px;
      width: 100%;
      height: 40px;
      font-size: 25px;
    }
    padding: 2px;
    outline: 1px solid @lightGray;
  }
  .description {
    textarea {
      margin: 0px 3px 0px 3px;
      padding: 0px;
      border: none;
      margin: 0px;
      width: 100%;
    }
    padding: 2px;
    outline: 1px solid @lightGray;
  }
  .current-time {
    min-height: 65px;
    font-size: 50px;
    text-align: center;
    input {
      float: left;
      padding: 0px;
      border: none;
      margin-top: 5px;
    }
    .hours {
      text-align: right;
      width: 35%;
    }
    .minutes {
      text-align: center;
      width: 20%;
    }
    .seconds {
      text-align: left;
      width: 35%;
    }
    span {
      float: left;
      margin-top: 4px;
      width: 5%;
    }
  }
  .controls {
    border-top: 1px solid @lightGray;
    .control {
      cursor: pointer;
      min-height: 65px;
      background-repeat: no-repeat;
      background-position: center;
    }
    div {
      float: left;
      width: 33.333%;
    }
    .play {
      background-image: url('../assets/img/play.png');
    }
    .pause {
      background-image: url('../assets/img/pause.png');
    }
    .reset {
      background-image: url('../assets/img/repeat.png');
    }
    .up {
      background-image: url('../assets/img/arrow_up.png');
    }
    .down {
      background-image: url('../assets/img/arrow_down.png');
    }
    min-height: 70px;
  }
  .switch {

  }
}
