/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

 @red: #E3605C;
 @green: #74BC82;
 @orange: #DDA862;
 @blue: #61AADF;
 @lightGray: #CCCCCC;
 @transparent: rgba(0,0,0,0);
